div.navbar.navbar-inverse.navbar-fixed-top.navbar-top
    div.container
        div.navbar-header.col-sm-6
            a.navbar-brand#navbar-brand(href='../')
                img.navbar-logo(src='../img/logo.png')
                span Atom Apps
        div.nav.navbar-nav.navbar-right.col-sm-6
            div.input-group
                input.form-control#search-input(type='text', placeholder='search')
                span.input-group-btn
                    button.btn.btn-default#search-button
                        span.glyphicon.glyphicon-search

div.navbar.navbar-default.navbar-fixed-top.navbar-top
    div.container
        div.navbar-header
            span.navbar-brand.hidden-sm.hidden-md.hidden-lg.hidden-xl Navigation
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                span.icon-bar
                span.icon-bar
                span.icon-bar
        div#navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href='../') Home
                li
                    a.dropdown-toggle(data-toggle='dropdown' href='#') Our Apps
                        span#app-count-badge.badge #{apps.length}
                        span.caret
                    ul.dropdown-menu
                        li
                            a.all-apps-btn(href='../apps/')
                              span.glyphicon.glyphicon-list
                              span.inline-spacer-lg View All Apps
                        for app in apps
                            li
                                a(href='../apps/' + app.id) #{app.title}
                                    span.platform-icons
                                        if app.android
                                            img(src='../img/android-icon.png')
                                        if app.ios
                                            img(src='../img/apple-icon.png')
                                        if app.windowsphone
                                            img(src='../img/windows-icon.png')
                        else
                            li No Apps Yet
                li
                    a(href='../about') About
                li
                    a(href='../contact') Contact Us
