div.navbar.navbar-inverse.navbar-fixed-top.navbar-top
    div.container
        div.navbar-header.col-sm-6
            a.navbar-brand#navbar-brand(href='../')
                img.navbar-logo(src='../img/logo.png')
                span Atom Apps
        div.nav.navbar-nav.navbar-right.col-sm-6.hidden
            div.input-group
                input.form-control#search-input(type='text', placeholder='search')
                span.input-group-btn
                    button.btn.btn-default#search-button
                        span.glyphicon.glyphicon-search

div.navbar.navbar-default.navbar-fixed-top.navbar-top
    div.container
        div.navbar-header
            span.navbar-brand.hidden-sm.hidden-md.hidden-lg.hidden-xl Navigation
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                span.icon-bar
                span.icon-bar
                span.icon-bar
        div#navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href='../') Home
                li
                    a.dropdown-toggle(data-toggle='dropdown' href='#') Our Apps
                        span#app-count-badge.badge
                        span.caret
                    ul.dropdown-menu#app-list-dropdown
                        li
                            a.all-apps-btn(href='../apps/')
                              span.glyphicon.glyphicon-list
                              span.inline-spacer-lg View All Apps
                li
                    a(href='../coming-soon') Coming Soon
                li
                    a(href='http://gravitysim3d.blogspot.co.uk/', target='_blank') Blog
                li
                    a(href='../about') About
                li
                    a(href='../contact') Contact Us
