extends layout

block content
	div.container
		div.col-xs-12
			div.column.light-grey
				div.col-xs-3
					img.app-profile-icon(src='../img/Atom-Apps-Profile-Pic.png', alt='Atom Apps Logo')
				div.col-xs-9
					h1 About Atom Apps
					p Atom Apps is a partnership founded by Adam Lewis and Thomas Vardy with the aim of developing fun and easy to use apps for mobile devices. We are both students and are creating apps to fund our way through University & College. We currently develop apps individually and release them under the same name, however we do intend on collaborating on apps in the future.
				div.clear
		div.col-xs-12.col-md-6
			div.column.light-grey
				div.col-xs-3
					img.app-profile-icon(src='../img/Adam-Profile-Pic.png', alt='Adams profile picture')
				div.col-xs-9
					h3 Adam Lewis - Co-Founder
					p Hi there! My name is Adam Lewis and I created apps such as Gravity Sim 3D and Farmyard Pairs. I am currently studying towards a Masters Degree in Computer Science at The University of Sheffield. In my free time, you can usually find me at my desk coding away or spending time with my lovely fiancée. I love making apps and being creative and would definitely be interested in pursuing a career in app development once I complete my degree.
				div.clear
		div.col-xs-12.col-md-6
			div.column.light-grey
				div.col-xs-3
					img.app-profile-icon(src='../img/Tom-Profile-Pic.png', alt='Toms profile picture')
				div.col-xs-9
					h3 Thomas Vardy - Co-Founder
					p Hi, my name is Thomas Vardy and I created Atom Snake. I am currently studying towards my A-Levels in Physics, Mathematics, Business Studies and Music Technology. In my spare time over the last year and with the help of Adam Lewis, I have been learning how to develop apps using Unity. I have found this to be a very enjoyable process and hope to be able to make more in the future.
				div.clear
