extends layout

block content
	div.container
		div.spacer-lg
		ul.nav.nav-tabs.col-xs-10.col-sm-11
			li
				a(href='../admin-app-list') App List
			li
				a(href='../admin-add-app') Add New App
			li
				a(href='../admin-coming-soon-list') Coming Soon List
			li
				a(href='../admin-add-coming-soon') Add Coming Soon Post
		div.col-xs-2.col-sm-1
			a.btn.btn-info(href='../logout') Log Out
		block admin
