extends admin-console

block admin
	script(src='../js/admin-add-app.js')
	div.spacer-lg#add-app-error
	form.form-horizontal#add-app-form(enctype='multipart/form-data', method='post', action='add-app')
		div.container
			div.col-sm-12
				div.col-sm-12
					h3 App title
				div.col-sm-10
					input.form-control(type='text', name='title')
				div.col-sm-2
					input.btn.btn-block.btn-info(type='submit', value='Submit App')
			div.col-sm-12
				div.col-sm-4
					div.column.inverse
						div#edit-app-icon-container
							label.control-label App Icon (.png)
							input.form-control#add-app-icon-field(type='file', name='icon', accept='image/png')
						label.control-label Average Review (number e.g 4.3)
						input.form-control#add-app-review(type='text', name='review')
					div.column.light-grey
						p Other Graphic Assets
						label.control-label Home Page Carousel Image
						input.form-control#add-app-carousel-field(type='file', name='carousel', accept='image/*')
				div.col-sm-8
					div.column.light-grey
						label.control-label Description
						textarea.form-control#add-app-description(name='description')
						label.control-label Features
						textarea.form-control#add-app-features(name='features')
						label.control-label Screenshots
						div.well.dark-grey#file-field-container
							a.btn.btn-success#add-screenshot-button Add Screenshot
							input.hidden#screenshotCount(type='hidden', name='screenshotCount')
						div.form-group.spacer-lg
							div.col-sm-3
								label.control-label Google Play
							div.col-sm-1
								input.form-control.toggle-disabled(type='checkbox', data-toggle-disabled='googlePlayLink')
							div.col-sm-8
								input.form-control.disa#googlePlayLink(type='text', disabled='', name='googlePlayLink')
						div.form-group.spacer-lg
							div.col-sm-3
								label.control-label App Store
							div.col-sm-1
								input.form-control.toggle-disabled(type='checkbox', data-toggle-disabled='appStoreLink')
							div.col-sm-8
								input.form-control#appStoreLink(type='text', disabled='', name='appStoreLink')
						div.form-group.spacer-lg
							div.col-sm-3
								label.control-label Windows Store
							div.col-sm-1
								input.form-control.toggle-disabled(type='checkbox', data-toggle-disabled='windowsStoreLink')
							div.col-sm-8
								input.form-control#windowsStoreLink(type='text', disabled='', name='windowsStoreLink')
						div.form-group.spacer-lg
							div.col-sm-3
								label.control-label Amazon Store
							div.col-sm-1
								input.form-control.toggle-disabled(type='checkbox', data-toggle-disabled='amazonLink')
							div.col-sm-8
								input.form-control#amazonLink(type='text', disabled='', name='amazonLink')
						div.form-group.spacer-lg
							div.col-sm-3
								label.control-label Steam
							div.col-sm-1
								input.form-control.toggle-disabled(type='checkbox', data-toggle-disabled='steamLink')
							div.col-sm-8
								input.form-control#steamLink(type='text', disabled='', name='steamLink')
