extends layout

block content
	div.container
		div.col-sm-4.hidden-xs
			div.column.inverse
				div
					img.app-profile-icon#app-profile-icon
				div.spacer-lg
				div.app-profile-inverse-content.white
					p.app-profile-available-for Available for:
						span.inline-spacer-xl
						span.platform-icons#app-profile-platform-icons
				div.spacer-lg
				div.app-profile-user-review.app-profile-inverse-content.dark-grey
					p.center#app-profile-exact-review Average user review:
					div.star-container#app-profile-star-container
				div.spacer-lg

		div.col-sm-8
			div.column.white
				div.app-profile-title
					img.app-profile-icon-sm.hidden-sm.hidden-md.hidden-lg#app-profile-icon-small
					h1#app-profile-title

				hr

				div#screenshot-carousel-container
					div.owl-carousel#screenshot-carousel

				hr

				p#app-profile-description

				hr

				h2 Features

				p#app-profile-features

				hr

				div.hidden-sm.hidden-md.hidden-lg
					hr
					h2 Additional Information
					div.column.inverse
						div.app-profile-inverse-content.white
							p.app-profile-available-for Available for:
								span.inline-spacer-xl
								span.platform-icons#app-profile-platform-icons-alt
						div.spacer-lg
						div.app-profile-user-review.app-profile-inverse-content.dark-grey
							p.center#app-profile-exact-review-alt Average user review:
							div.star-container#app-profile-star-container-alt
						div.spacer-lg

				h2 Download Links

				div.col-xs-6.col-sm-6.col-md-4.col-lg-4.spacer-md
					a.app-badge.hidden#app-profile-google-play-link
						img(src='../img/google-play-badge.png')

				div.col-xs-6.col-sm-6.col-md-4.col-lg-4.spacer-md
					a.app-badge.hidden#app-profile-app-store-link
						img(src='../img/app-store-badge.png')

				div.col-xs-6.col-sm-6.col-md-4.col-lg-4.spacer-md
					a.app-badge.hidden#app-profile-windows-store-link
						img(src='../img/windows-store-badge.png')

				div.col-xs-6.col-sm-6.col-md-4.col-lg-4.spacer-md
					a.app-badge.hidden#app-profile-amazon-store-link
						img(src='../img/amazon-store-badge.png')

				div.col-xs-6.col-sm-6.col-md-4.col-lg-4.spacer-md
					a.app-badge.hidden#app-profile-steam-store-link
						img(src='../img/steam-store-badge.png')

				br.clear
