extends layout

block content
	div.container
		div.spacer-lg
		ul.nav.nav-tabs
			li.active
				a(href='#list', data-toggle='tab', aria-expanded='false') App List
			li
				a(href='#add', data-toggle='tab', aria-expanded='false') Add New App
			li
				a(href='#edit', data-toggle='tab', aria-expanded='false') Edit App
		div.tab-content.spacer-lg
			div.tab-pane.fade.active.in#list
				table.table.table-striped.table-hover
					thead
						tr
							th(width="100")
							th Name
							th(width="200") Options
					tbody#app-list-table-body
			div.tab-pane.fade#add
				form.form-horizontal#add-app-form(enctype='multipart/form-data', method='post', action='add-app')
					div.container
						div.col-sm-12
							h3 App title
							input.form-control(type='text', name='title')
						div.col-sm-4
							div.column.inverse
								div#edit-app-icon-container
									label.control-label App Icon (.png)
									input.form-control(type='file', name='icon', accept='image/png')
								label.control-label Average Review (number e.g 4.3)
								input.form-control(type='text', name='review')
						div.col-sm-8
							div.column
								label.control-label Description
								textarea.form-control(name='description')
								label.control-label Features
								textarea.form-control(name='features')
								label.control-label Screenshots
								div.well.light-grey#file-field-container
									a.btn.btn-success#add-screenshot-button Add Screenshot
									input.hidden#screenshotCount(type='hidden', name='screenshotCount')
								div.form-group.spacer-lg
									div.col-sm-3
										label.control-label Google Play
									div.col-sm-1
										input.form-control.toggle-disabled(type='checkbox', data-toggle-disabled='googlePlayLink')
									div.col-sm-8
										input.form-control.disa#googlePlayLink(type='text', disabled='', name='googlePlayLink')
								div.form-group.spacer-lg
									div.col-sm-3
										label.control-label App Store
									div.col-sm-1
										input.form-control.toggle-disabled(type='checkbox', data-toggle-disabled='appStoreLink')
									div.col-sm-8
										input.form-control#appStoreLink(type='text', disabled='', name='appStoreLink')
								div.form-group.spacer-lg
									div.col-sm-3
										label.control-label Windows Phone Store
									div.col-sm-1
										input.form-control.toggle-disabled(type='checkbox', data-toggle-disabled='windowsStoreLink')
									div.col-sm-8
										input.form-control#windowsStoreLink(type='text', disabled='', name='windowsStoreLink')
								div.form-group.spacer-lg
									div.col-sm-3
										label.control-label Amazon Store
									div.col-sm-1
										input.form-control.toggle-disabled(type='checkbox', data-toggle-disabled='amazonLink')
									div.col-sm-8
										input.form-control#amazonLink(type='text', disabled='', name='amazonLink')
								div.form-group.spacer-lg
									div.col-sm-3
										label.control-label Steam
									div.col-sm-1
										input.form-control.toggle-disabled(type='checkbox', data-toggle-disabled='steamLink')
									div.col-sm-8
										input.form-control#steamLink(type='text', disabled='', name='steamLink')

			div.tab-pane.fade#edit
				p Edit
