extends layout

block content
	div.owl-carousel#home-carousel
		div.carousel-content
			img(src='img/gravitysim3d/carousel.jpg')
		div.carousel-content
			img(src='img/wordlink/carousel.jpg')
		div.carousel-content
			img(src='img/ballbounce/carousel.jpg')
		div.carousel-content
			img(src='img/gravitysim/carousel.jpg')
	div.container
		div.col-md-4
			div.column
				p Twitter Feed
		div.col-md-8
			div.column
				p Articles and shiz