extends layout

block content
	div.container
		div.column.light-grey
			div.col-xs-3
				img.app-profile-icon(src='../img/gravitysim3d/icon.png', alt='Gravity Sim 3D icon')
			div.col-xs-9
				h3 Gravity Sim 3D Updates!
				p A major update for Gravity Sim 3D is planned within the month with all the ideas people suggested in the reviews! #[br]The planned updates for Gravity Sim include: #[br]#[br] - The ability to pause time and edit trajectories #[br] - Comets with trails #[br] - Better and more varied explosions #[br] - A dust tool to give planets rings #[br] - The ability to see real time data such as trajectory #[br] - Alien ships and a player controlled ship to fly around the universe you created
			div.clear
		div.column.light-grey
			div.col-xs-3
				img.app-profile-icon(src='../img/wordlink/icon.png', alt='WordLink icon')
			div.col-xs-9
				h3 WordLink Facelift!
				p Using my newly developed skills using Unity 5, I have decided to remake and improve #[a(href='https://play.google.com/store/apps/details?id=uk.co.adamsapplications.wordlink', target='_blank') WordLink.] The new version will have a nicer look and feel, improved animations and better quality sounds. I'm also going to go through and remove puzzles that seem silly and add a few new ones! When it is completed it will be released on Google Play, the iOS App Store, Windows Phone Marketplace and the Amazon App Store. Don't worry if you have previously downloaded WordLink on Google Play, the new version will simply be an update and I will try my best to make sure you keep your progress.
			div.clear
