extends layout

block content
	div.owl-carousel#home-carousel
		div.carousel-content
			img(src='img/gravitysim3d/carousel.jpg')
		div.carousel-content
			img(src='img/gravitysim3d/carousel.jpg')
		div.carousel-content
			img(src='img/gravitysim3d/carousel.jpg')