extends layout

block content
	div.owl-carousel#home-carousel
		div.carousel-content
			a(href='apps/gravitysim3d')
				img(src='img/gravitysim3d/carousel.jpg')
		div.carousel-content
			a(href='apps/wordlink')
				img(src='img/wordlink/carousel.jpg')
		div.carousel-content
			a(href='apps/ballbounce')
				img(src='img/ballbounce/carousel.jpg')
		div.carousel-content
			a(href='apps/gravitysim')
				img(src='img/gravitysim/carousel.jpg')
	div.container
		div.col-sm-4
			div.column
				p Twitter Feed
		div.col-sm-8
			div.column
				p Articles and shiz
